<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esquina del sabor</title>
</head>
<body>
    <!-- El header donde se encuentra la nav y el nombre con el slogan -->
    <header>
        <div class="nav">
            
        </div>
    </header>

    <!-- Imagen de portada -->
    <div class="portada">

    </div>

    <!-- Menu -->
    <div class="menu">

    </div>

    <!-- Ubicación -->
    <div class="ubicacion">
        
    </div>

    <footer>

    </footer>
</body>
</html>